@import url(https://fonts.googleapis.com/css?family=Lato);
* {
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}
html {
	font: 1em/1.5 "Lato", sans-serif;
}
body {
	font-size: 1.3em;
}
header {
	z-index: 1111;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: url(http://cache.umusic.com/_sites/eminem.com/2017/site/images/tour-bg.jpg?dl=0) center no-repeat;
	background-size: cover;
}
a {
	color: #666;
	text-decoration: none;
}
nav{
  z-index: 100;
  top:0;
  left:0;
  background:black;
  width:100%;
}
nav a{
  padding:10px 30px;
  font-size:1.3em;
  display:inline-block
}
nav a:hover{
  text-decoration: none;
  background:#bf1f24;
  color:#fff
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.logo {
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: .5em 3em;
	z-index: 2;
}
.site {
	padding: 5em 0;
	text-align: center;
	background-color: #222;
	font-size: .8em;
	color: #444;
	position:relative
}
.overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background:#333 center no-repeat;
	background-size: cover;
	z-index: 0;
	opacity: 0;
	-webkit-filter: blur(4px);
}
.div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:relative;
	width:100%;
	height:500px;
	margin:.5em 10px .5em 0;
}
.div img {
	margin:0;
	position:absolute;
}
.link {
  text-decoration: none;
  font-size: 30px;
  color: white;
}
.link:hover {
  text-decoration: none;
  color: #bf1f24;
}
.p-5 {
	padding-bottom: 0
}
@media (min-width: 1000px) {
	.toggle-btn {
		visibility: hidden;
		display: none;
	}
}

.navbarb{
	visibility: hidden;
	display: none;
}

.navbarbuttons {
	background-color: transparent;
	border-style: none;
	color: white;
	width: 35%;
	transition: all 150ms;
	outline: none;
}
.navbarbuttons:hover {
	text-decoration: none;
	background:#bf1f24;
	color:#fff
}
#sidebar{
	z-index: 1;
	width: 100%;
	background: black;
	margin-top: 50px;
	top: -2500px;
	transition: all 300ms;
}
#sidebar.active{
	top: 0px;
}
.toggle-btn{
	background-color: transparent;
	border-style: none;
	outline: none;
	cursor: pointer;
}
.toggle-btn span{
	display: block;
	width: 20px;
	height: 4px;
	background-color: #E0E5EA;
	margin: 4px 0;
}
.discography {
	color: white;
	background-color: #222;
	margin-top: -10px;
}
.block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	padding-bottom: 10%;
}
.text h2{
	font-size: 25px
}
.img {
	display: block;
	max-width: 300px;
}
.buy {
	text-align: center;
	color: white;
	background-color: #666;
	font-size: 20px;
	border: 0;
	padding: 14px 40px;
	outline: none;
	transition: 0.25s;
	cursor: pointer;
	width: 300px;
}
.buy:hover {
	background:#bf1f24;
}
footer {
	background: black;
	text-align: center;
	color: #444;
}
footer a {
	padding-right: 40%;
	color: #666;
	text-decoration: none;
}
footer a:hover {
	text-decoration: none;
	color: #bf1f24;
}